:root {
  font-family: "Open Sans", sans-serif;
  --primary: #202C36;
  --secondary: #202C36;
  --text: #F2F2F2;
  --text-secondary: #ffffffa1;
  --card-bg: #2B3844;
  --text-prop: #dbdee0d4;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
}

.select_homepage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
}

.main_homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  width: 300px;
  max-width: 100%;
  margin: 10px;
}

.MuiCardContent-root {
  padding: 16px;
  color: var(--text);
  background-color: var(--card-bg);
}

.MuiGrid-item {
  padding: 16px;
}

@media screen and (max-width: 900px) {
  .select_homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .select_homepage {
    align-items: flex-start; /* Align items to the start (left) */
    padding-left: 20px; /* Optional: Add some left padding */
  }
}
