.select_homepage {
    width: 100%;
    overflow-y: auto;
    margin-bottom: 20px;
}

.main_homepage {
    background-color: #202C36;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
    
}

.content {
    overflow-y: auto;
    width: 100%;
    flex: 1;
}