

.dropdown_container {
    padding: 20px;
    display: flex;
    margin: 20px 20px 0px 0px;
    align-items: center;
}

@media screen and (max-width: 414px) {
  .dropdown_container {
    
    align-items: flex-start;
    padding: 0;
    position: relative;
    left: -118px;
    
  }

  .select_homepage {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    
  }
}
